@import 'var';

.nav{
    display: flex;
    justify-content: space-between;
    padding-top: 5vh;
    align-items: center;

    .nav__logo{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        #ham{
            display: none;
        }
        #close{
            display: none;
        }
    }

    .nav__menu{
        width: 50vw;
        display: flex;
        flex-direction: row;
        ul{
        }
        li{
            display: flex;
            list-style: none;
            width: 50vw;
            justify-content: space-around;
        }
        a{
            text-decoration: none;
            font-family: $Mainfontfamily;
            color: $VeryDarkBlue;
            font-weight: 700;
        }
    }


    .btn{
        @include btn;
    }


    @media only screen and (max-width: 600px) {
        .nav__logo{
            width: 100vw;;
            display: flex;
            justify-content: space-between;
            #ham{
                display: flex;
            }
            #close{
                display: none;
            }
        }
        .nav__menu{
            display: none;
        }
        .btn{
            display: none;
        }
      }
}