@import "var.scss";

.container__page1 {
  display: flex;
  justify-content: space-between;
  padding-top: 15vh;
  @include padding;
  .container__page1__left {
    width: 50vw;
    h1 {
      font-family: $Mainfontfamily;
      color: $DarkBlue;
      font-size: 4em;
    }
    p {
      @include p1;
    }
    .btn {
      @include btn;
      width: 10vw;
      font-weight: bold;
    }
    .btn:hover {
      background-color: lighten($color: $BrightRed, $amount: 10);
      color: $VeryPaleRed;
      height: 4vh;
      min-width: 10vw;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1.5rem;
    }
  }
  .container__page1__right{
    width: 50vw;
  }
}
