/* ## Colors

### Primary */

$BrightRed: hsl(12, 88%, 59%);
$DarkBlue: hsl(228, 39%, 23%);

/* ### Neutral */

$DarkGrayishBlue: hsl(227, 12%, 61%);
$VeryDarkBlue: hsl(233, 12%, 13%);
$VeryPaleRed: hsl(13, 100%, 96%);
$VaryLightGray: hsl(0, 0%, 98%);



$Mainfontfamily: 'Be Vietnam';




@mixin btn {
    background-color: $BrightRed;
    font-family: $Mainfontfamily;
    color: $VeryPaleRed;
    height: 4vh;
    min-width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    
        :hover{
            background-color: lighten($color: $BrightRed, $amount: 10);
    color: $VeryPaleRed;
    height: 4vh;
    min-width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
        }
}


@mixin p1 {
      font-family: $Mainfontfamily;
      color: $DarkGrayishBlue;
      padding-top: 3vh;
      padding-bottom: 3vh;
      font-size: 1.3em;
}



@mixin h11 {
      font-family: $Mainfontfamily;
      color: $DarkBlue;
      font-size: 4em;
}


@mixin padding {
    
    padding-left: 10vw;
    padding-right: 10vw;
}



@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (max-width: 600px) { @content; }
}
@mixin For1200{
  @media (max-width: 1200px) { @content; }
}
@mixin For1400 {
  @media (max-width: 1400px) { @content; }
}

